### Recommendations with MovieTweetings: Getting to Know The Data

Throughout this lesson, you will be working with the [MovieTweetings Data](https://github.com/sidooms/MovieTweetings/tree/master/recsyschallenge2014).  To get started, you can read more about this project and the dataset from the [publication here](http://crowdrec2013.noahlab.com.hk/papers/crowdrec2013_Dooms.pdf).

**Note:** There are solutions to each of the notebooks available by hitting the orange jupyter logo in the top left of this notebook.  Additionally, you can watch me work through the solutions on the screencasts that follow each workbook. 

To get started, read in the libraries and the two datasets you will be using throughout the lesson using the code below.

In [ ]:
conda update python

Collecting package metadata: done
Solving environment: -

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tests as t

%matplotlib inline


# Read in the MovieTweetings dataset originally taken from https://github.com/sidooms/MovieTweetings/tree/master/latest
movies = pd.read_csv('movies.dat', delimiter='::', header=None, names=['movie_id', 'movie', 'genre'], dtype={'movie_id': object}, engine='python')
reviews = pd.read_csv('ratings.dat', delimiter='::', header=None, names=['user_id', 'movie_id', 'rating', 'timestamp'], dtype={'movie_id': object, 'user_id': object, 'timestamp': object}, engine='python')

#### 1. Take a Look At The Data 

Take a look at the data and use your findings to fill in the dictionary below with the correct responses to show your understanding of the data.

In [14]:
def count_unique(series):
    genres = set()
    for x in series:
        if x is not np.nan:
            for _ in x:
                genres.add(_)
    return len(genres)

In [54]:
# Use your findings to match each variable to the correct statement in the dictionary


dict_sol1 = {
'The number of movies in the dataset': len(movies),
'The number of ratings in the dataset':reviews.count(),
'The number of different genres':count_unique(movies['genre'].str.split('|')),
'The number of unique users in the dataset': reviews['user_id'].nunique(),
'The number missing ratings in the reviews dataset': reviews['rating'].isna().sum(),
'The average rating given across all ratings':reviews['rating'].mean(),
'The minimum rating given across all ratings':reviews['rating'].min(),
'The maximum rating given across all ratings':reviews['rating'].max()
}

# Originally, I had this to check your solution, but the 
# links are live and updating.  That didn't end up being
# a great idea

#### 2. Data Cleaning

Next, we need to pull some additional relevant information out of the existing columns. 

For each of the datasets, there are a couple of cleaning steps we need to take care of:

#### Movies
* Pull the date from the title and create new column
* Dummy the date column with 1's and 0's for each century of a movie (1800's, 1900's, and 2000's)
* Dummy column the genre with 1's and 0's

#### Reviews
* Create a date out of time stamp

You can check your results against the header of my solution by running the cell below with the **show_clean_dataframes** function.

In [16]:
# cell for work
centuries = movies['movie'].str[-5:-1].astype(int)

In [21]:
# and another
# centuries = pd.cut(centuries, bins=[1800, 1900, 2000, 2100], labels = ["1800's", "1900's", "2000's"])
movies = movies.join(pd.get_dummies(centuries))

In [ ]:
# and a few more below, which you can use as necessary

In [25]:
genres = pd.get_dummies(movies['genre'].str.split('|').apply(pd.Series).stack()).sum(level=0)

In [27]:
movies = movies.join(genres.fillna(0.0))

In [5]:
reviews_new, movies_new = t.show_clean_dataframes()

   Unnamed: 0  user_id  movie_id  rating   timestamp                 date  \
0           0        1     68646      10  1381620027  2013-10-12 23:20:27
1           1        1    113277      10  1379466669  2013-09-18 01:11:09
2           2        2    422720       8  1412178746  2014-10-01 15:52:26
3           3        2    454876       8  1394818630  2014-03-14 17:37:10
4           4        2    790636       7  1389963947  2014-01-17 13:05:47

   month_1  month_2  month_3  month_4    ...      month_9  month_10  month_11  \
0        0        0        0        0    ...            0         1         0
1        0        0        0        0    ...            0         0         0
2        0        0        0        0    ...            0         1         0
3        0        0        0        0    ...            0         0         0
4        0        0        0        0    ...            0         0         0

   month_12  year_2013  year_2014  year_2015  year_2016  year_2017  year_2018
0         0          1          0          0          0          0          0
1         0          1          0          0          0          0          0
2         0          0          1          0          0          0          0
3         0          0          1          0          0          0          0
4         0          0          1          0          0          0          0

[5 rows x 24 columns]
   Unnamed: 0  movie_id                                              movie  \
0           0         8      Edison Kinetoscopic Record of a Sneeze (1894)
1           1        10                La sortie des usines Lumi√®re (1895)
2           2        12                      The Arrival of a Train (1896)
3           3        25  The Oxford and Cambridge University Boat Race ...
4           4        91                         Le manoir du diable (1896)

               genre  date  1800's  1900's  2000's  History  News    ...     \
0  Documentary|Short  1894       1       0       0        0     0    ...
1  Documentary|Short  1895       1       0       0        0     0    ...
2  Documentary|Short  1896       1       0       0        0     0    ...
3                NaN  1895       1       0       0        0     0    ...
4       Short|Horror  1896       1       0       0        0     0    ...

   Fantasy  Romance  Game-Show  Action  Documentary  Animation  Comedy  Short  \
0        0        0          0       0            1          0       0      1
1        0        0          0       0            1          0       0      1
2        0        0          0       0            1          0       0      1
3        0        0          0       0            0          0       0      0
4        0        0          0       0            0          0       0      1

   Western  Thriller
0        0         0
1        0         0
2        0         0
3        0         0
4        0         0

[5 rows x 36 columns]

In [8]:
reviews_new

,Unnamed: 0,user_id,movie_id,rating,timestamp,date,month_1,month_2,month_3,month_4,...,month_9,month_10,month_11,month_12,year_2013,year_2014,year_2015,year_2016,year_2017,year_2018
0,0,1,68646,10,1381620027,2013-10-12 23:20:27,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
1,1,1,113277,10,1379466669,2013-09-18 01:11:09,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,2,2,422720,8,1412178746,2014-10-01 15:52:26,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,3,2,454876,8,1394818630,2014-03-14 17:37:10,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,4,2,790636,7,1389963947,2014-01-17 13:05:47,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5,5,2,816711,8,1379963769,2013-09-23 19:16:09,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6,6,2,1091191,7,1391173869,2014-01-31 13:11:09,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
7,7,2,1103275,7,1408192129,2014-08-16 12:28:49,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
8,8,2,1322269,7,1391529691,2014-02-04 16:01:31,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9,9,2,1390411,8,1451374513,2015-12-29 07:35:13,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
10,10,2,1398426,8,1456160307,2016-02-22 16:58:27,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
11,11,2,1431045,7,1457733508,2016-03-11 21:58:28,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
12,12,2,1433811,8,1380453043,2013-09-29 11:10:43,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
13,13,2,1454468,8,1387016442,2013-12-14 10:20:42,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
14,14,2,1535109,8,1386350135,2013-12-06 17:15:35,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
15,15,2,1675434,8,1396688981,2014-04-05 09:09:41,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
16,16,2,1798709,10,1389948338,2014-01-17 08:45:38,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
17,17,2,2017038,7,1390570895,2014-01-24 13:41:35,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
18,18,2,2024544,10,1389355949,2014-01-10 12:12:29,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
19,19,2,2294629,8,1392455710,2014-02-15 09:15:10,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
20,20,2,2361509,8,1446837136,2015-11-06 19:12:16,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
21,21,2,2381249,5,1446837214,2015-11-06 19:13:34,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
22,22,2,2726560,9,1438293988,2015-07-30 22:06:28,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
23,23,2,2883512,8,1432407808,2015-05-23 19:03:28,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
24,24,2,3079380,8,1433614454,2015-06-06 18:14:14,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
25,25,3,1790864,7,1448832437,2015-11-29 21:27:17,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
26,26,3,2170439,7,1447542932,2015-11-14 23:15:32,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
27,27,3,2203939,6,1452467314,2016-01-10 23:08:34,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
28,28,4,1300854,7,1368156300,2013-05-10 03:25:00,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
29,29,5,54953,5,1415080947,2014-11-04 06:02:27,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712307,712307,53966,5503688,7,1508359550,2017-10-18 20:45:50,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
712308,712308,53966,5519340,5,1514065559,2017-12-23 21:45:59,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
712309,712309,53966,5541240,6,1500132063,2017-07-15 15:21:03,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
712310,712310,53966,5580036,6,1520201180,2018-03-04 22:06:20,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712311,712311,53966,5580390,4,1520005525,2018-03-02 15:45:25,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712312,712312,53966,5580536,3,1484082432,2017-01-10 21:07:12,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
712313,712313,53966,5599692,6,1486329609,2017-02-05 21:20:09,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
712314,712314,53966,5657846,4,1518212247,2018-02-09 21:37:27,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712315,712315,53966,5666304,4,1523835422,2018-04-15 23:37:02,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712316,712316,53966,5715874,2,1523702856,2018-04-14 10:47:36,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712317,712317,53966,5716464,5,1514327625,2017-12-26 22:33:45,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
712318,712318,53966,5719700,5,1511995252,2017-11-29 22:40:52,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
712319,712319,53966,5721088,3,1520745417,2018-03-11 05:16:57,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712320,712320,53966,5776858,5,1523921325,2018-04-16 23:28:45,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712321,712321,53966,5816682,6,1514666854,2017-12-30 20:47:34,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
712322,712322,53966,5884230,2,1524694574,2018-04-25 22:16:14,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712323,712323,53966,5884234,6,1501110496,2017-07-26 23:08:16,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
712324,712324,53966,5929750,4,1503706655,2017-08-26 00:17:35,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
712325,712325,53966,5962210,5,1509488338,2017-10-31 22:18:58,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
712326,712326,53966,6000478,7,1517176691,2018-01-28 21:58:11,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712327,712327,53966,6204340,5,1516237542,2018-01-18 01:05:42,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712328,712328,53966,6265828,1,1505940901,2017-09-20 20:55:01,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
712329,712329,53966,6294822,5,1524347456,2018-04-21 21:50:56,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712330,712330,53966,6359956,6,1516060311,2018-01-15 23:51:51,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712331,712331,53966,6421110,5,1522275066,2018-03-28 22:11:06,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712332,712332,53966,6644200,7,1530049728,2018-06-26 21:48:48,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712333,712333,53966,6684714,5,1516287632,2018-01-18 15:00:32,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
712334,712334,53967,816711,8,1371972851,2013-06-23 07:34:11,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
712335,712335,53968,1559547,2,1373287369,2013-07-08 12:42:49,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
712336,712336,53968,2415464,2,1373772560,2013-07-14 03:29:20,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [22]:
movies_new

,Unnamed: 0,movie_id,movie,genre,date,1800's,1900's,2000's,History,News,...,Fantasy,Romance,Game-Show,Action,Documentary,Animation,Comedy,Short,Western,Thriller
0,0,8,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short,1894,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
1,1,10,La sortie des usines Lumi√®re (1895),Documentary|Short,1895,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2,2,12,The Arrival of a Train (1896),Documentary|Short,1896,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,3,25,The Oxford and Cambridge University Boat Race ...,NaN,1895,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,91,Le manoir du diable (1896),Short|Horror,1896,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5,5,417,Le voyage dans la lune (1902),Short|Adventure|Fantasy,1902,0,1,0,0,0,...,1,0,0,0,0,0,0,1,0,0
6,6,439,The Great Train Robbery (1903),Short|Action|Crime,1903,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
7,7,443,"Hiawatha, the Messiah of the Ojibway (1903)",NaN,1903,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,8,628,The Adventures of Dollie (1908),Action|Short,1908,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
9,9,833,The Country Doctor (1909),Short|Drama,1909,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
10,10,1223,Frankenstein (1910),Short|Fantasy|Horror,1910,0,1,0,0,0,...,1,0,0,0,0,0,0,1,0,0
11,11,1740,The Lonedale Operator (1911),Short|Drama|Romance,1911,0,1,0,0,0,...,0,1,0,0,0,0,0,1,0,0
12,12,2101,Cleopatra (1912),Drama|History,1912,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
13,13,2130,L'inferno (1911),Adventure|Drama|Fantasy,1911,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
14,14,2354,Max et Jane veulent faire du th√©√¢tre (1911),Short|Comedy,1911,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,0
15,15,2844,Fant√¥mas - √Ä l'ombre de la guillotine (1913),Crime|Drama,1913,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,16,3740,Cabiria (1914),Adventure|Drama|History,1914,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
17,17,3863,Dough and Dynamite (1914),Comedy|Short,1914,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,0
18,18,4099,"His Majesty, the Scarecrow of Oz (1914)",Family|Fantasy|Adventure,1914,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
19,19,4100,His Musical Career (1914),Short|Comedy,1914,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,0
20,20,4101,His New Profession (1914),Short|Comedy,1914,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,0
21,21,4210,Laughing Gas (1914),Short|Comedy,1914,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,0
22,22,4395,The New Janitor (1914),Short|Comedy,1914,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,0
23,23,4457,The Patchwork Girl of Oz (1914),Adventure|Family|Fantasy,1914,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
24,24,4518,Recreation (1914),Comedy|Short,1914,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,0
25,25,4546,The Rounders (1914),Comedy|Short,1914,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,0
26,26,4936,The Bank (1915),Comedy|Short,1915,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,0
27,27,4972,The Birth of a Nation (1915),Drama|History|War,1915,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
28,28,5074,The Champion (1915),Short|Comedy|Sport,1915,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,0
29,29,5078,The Cheat (1915),Drama,1915,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31215,31215,7942708,KL Special Force (2018),Action,2018,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
31216,31216,7949046,Paradox (2018),Music,2018,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
31217,31217,7959216,Ut√∏ya 22. juli (2018),Drama|Thriller,2018,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
31218,31218,7967954,Lee Chong Wei (2018),Biography,2018,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
31219,31219,7983794,Operation Odessa (2018),Documentary,2018,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
31220,31220,7983844,Take Your Pills (2018),Documentary,2018,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
31221,31221,8005338,Chris Rock: Tamborine (2018),Comedy,2018,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
31222,31222,8043254,Sirb al-Hamam (2018),NaN,2018,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
31223,31223,8054150,O chyom govoryat muzhchiny. Prodolzhenie (2018),Comedy,2018,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
31224,31224,8075496,Bao (2018),Animation|Short|Family,2018,0,0,1,0,0,...,0,0,0,0,0,1,0,1,0,0
31225,31225,8079546,Artist at Work: Annie Wood (2018),NaN,2018,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
31226,31226,8080268,Rock 'n' Roll Guns for Hire: The Story of the ...,NaN,2017,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
31227,31227,8080556,The Director and The Jedi (2018),Documentary,2018,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
31228,31228,8088944,Ban-deu-si Jab-neun-da (2017),Drama|Thriller,2017,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
31229,31229,8092252,Be with You (2018),Fantasy|Romance,2018,0,0,1,0,0,...,1,1,0,0,0,0,0,0,0,0
31230,31230,8102036,Kevin Smith: Silent But Deadly (2018),Comedy,2018,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
31231,31231,8106570,The Rachel Divide (2018),Documentary,2018,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
31232,31232,8119752,Gon-ji-am (2018),Horror,2018,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
31233,31233,8123286,Diz√°jneren (2016),NaN,2016,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
31234,31234,8140564,My Perfect You (2018),Drama|Romance,2018,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
31235,31235,8144778,The Redeemed and the Dominant: Fittest on Eart...,Documentary,2018,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
31236,31236,8144868,Pailalim (2017),NaN,2017,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
31237,31237,8206708,Carry on Jatta 2 (2018),Comedy,2018,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
31238,31238,8289196,John McCain: For Whom the Bell Tolls (2018),Documentary,2018,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
31239,31239,8324578,Kevin James: Never Don't Give Up (2018),Comedy,2018,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
31240,31240,8335880,Loro 2 (2018),Biography,2018,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
31241,31241,8342748,Hari Kondabolu: Warn Your Relatives (2018),Comedy,2018,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
31242,31242,8342946,Tig Notaro: Happy To Be Here (2018),Comedy,2018,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
31243,31243,8402090,Cumali Ceber 2 (2018),Comedy,2018,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
31244,31244,8439854,Lust Stories (2018),Drama,2018,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0